<br>
<div class="row">
    <div class="col-md-4">
      <div class="card text-center text-blue" id='total-orders'>
        <div class="header"><h4>total orders</h4></div>
        <div class="card-body"></div>
        <h3 class="card-title">{{ total_order }}</h3>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center text-blue" id='orders-delivered'>
        <div class="header"><h4>orders delivered</h4></div>
        <div class="card-body"></div>
        <h3 class="card-title">{{ total_order_delivered }}</h3>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center text-blue" id='orders-pending'>
        <div class="header"><h4>orders pending</h4></div>
        <div class="card-body"></div>
        <h3 class="card-title">{{ total_order_pending }}</h3>
      </div>
    </div>
</div>
<br>
<!-- <div class="row">
    <div class="col-md-5">
      <center><h4>customers</h4></center>
      <hr>
      <div class="card card-body text-center">
        <a href="" class="btn btn-primary btn-sm btn-block">
          create customer
        </a>
        <table class="table table-sm">
          <th>customer</th>
          <th>orders</th>
        </table>
      </div>
    </div>
    <div class="col-md-7">
      <center><h4>last 5 orders</h4></center>
      <hr>
      <div class="card card-body text-center">
        <table class="table table-sm">
          <tr>
            <th>product</th>
            <th>date ordered</th>
            <th>status</th>
            <th>update</th>
            <th>remove</th>
          </tr>
        </table>
      </div>
    </div>
  </div> -->